div {
	background: -webkit-gradient(linear, left top, left bottom, from(red), to(blue));
	background: linear-gradient(to bottom, red, blue);
}
div {
	background: -webkit-gradient(linear, left top, left bottom, from(red), color-stop(blue), to(green));
	background: linear-gradient(to bottom, red, blue, green);
}